[Unit]
Description=Insta-FotoBox
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/insta-fotobox
ExecStart=/home/pi/insta-fotobox/main.py
SyslogIdentifier=insta-fotobox
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target